<!-- src/app/dashboard/dashboard.component.html -->
<div class="dashboard-container">
  <div class="header">
    <h1>Dashboard</h1>
  </div>

  <div class="dashboard-main">
    <div class="sidebar">
      <ul>
        <li><a routerLink="/dashboard/dashboard">Overview</a></li>
        <li><a routerLink="/dashboard/companies">Companies</a></li>
        <li><a routerLink="/dashboard/" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>

    <div class="main-content">
      <router-outlet></router-outlet> <!-- Placeholder for nested routes -->
    </div>
  </div>
</div>

