.sidebar {
  background-color: #343a40; /* Dark background for sidebar */
  color: white;
}

  .sidebar .nav-link {
    color: #b0b3b8; /* Lighter color for links */
    padding: 10px 15px; /* Padding for better touch targets */
  }

    .sidebar .nav-link:hover {
      background-color: #495057; /* Darker background on hover */
      color: white; /* Change text color on hover */
    }

    .sidebar .nav-link.active {
      background-color: #007bff; /* Active link background */
      color: white; /* Active link text color */
    }
